.profile__name {
    max-width: 294px;
    margin: 0 18px 16px 0;
    padding: 0;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  
  @media screen and (max-width: 480px) {
    .profile__name {
      margin-bottom: 14px;
      margin-right: 0px;
      max-width: 189px;
      text-align: center;
      font-size: 27px;
      line-height: 32.68px;
    }
  }

  @media screen and (max-width: 320px) {
    .profile__name {
      margin-bottom: 10px;
      transform: translateX(25px);
    }
  }