@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/page/page.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);

@import url(./blocks/content/content.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__card/profile__card.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-btn/profile__avatar-btn.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__edit-btn/profile__edit-btn.css);
@import url(./blocks/profile/__sign/profile__sign.css);
@import url(./blocks/profile/__add-photo-btn/profile__add-photo-btn.css);

@import url(./blocks/elements/elements.css);
@import url(./blocks/elements/__list/elements__list.css);
@import url(./blocks/elements/__item/elements__item.css);
@import url(./blocks/elements/__delete/elements__delete.css);
@import url(./blocks/elements/__image/elements__image.css);
@import url(./blocks/elements/__bottom/elements__bottom.css);
@import url(./blocks/elements/__place/elements__place.css);
@import url(./blocks/elements/__likes/elements__likes.css);
@import url(./blocks/elements/__like/elements__like.css);
@import url(./blocks/elements/__likes-quantity/elements__likes-quantity.css);
@import url(./blocks/elements/__like_active/elements__like_active.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__author/footer__author.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__name/popup__name.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__item/popup__item.css);
@import url(./blocks/popup/__submit/popup__submit.css);

@import url(./blocks/popup/__close/_card/popup__close_card.css);
@import url(./blocks/popup/__formcard/popup__formcard.css);

@import url(./blocks/popup/_photo/popup_photo_card.css);
@import url(./blocks/popup/__container/popup__container-card.css);
@import url(./blocks/popup/__close/_photo/popup__close_photo.css);
@import url(./blocks/popup/__image-card/popup__image-card.css);
@import url(./blocks/popup/__title-card/popup__title-card.css);
@import url(./blocks/popup/_opened/popup_opened.css);

@import url(./blocks/input-error/input-error.css);
@import url(./blocks/input-error/form__input_type_error.css);
/* @import url(../blocks/input-error/form__input-error_active.css); */
@import url(./blocks/popup/__submit/_inactive/popup__submit_inactive.css);
@import url(./blocks/popup/__item/_place/_link/popup__item_place_link.css);
@import url(./blocks/popup/__item/_place/_name/popup__item_palce_name.css);

@import url(./blocks/popup/__name/_entry/popup__name_entry.css);
@import url(./blocks/popup/__image/popup__image.css);

@import url(../src/blocks/entry/entry.css);
@import url(../src/blocks/entry/__form/entry__form.css);
@import url(../src/blocks/entry/__input/entry__input.css);
@import url(../src/blocks/entry/__link/entry__link.css);
@import url(../src/blocks/entry/__sign/entry__sign.css);
@import url(../src/blocks/entry/__submit/entry__submit.css);
@import url(../src/blocks/entry/__title/entry__title.css);