.popup__submit {
    width: 358px;
    height: 50px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    border-radius: 2px;
    border: none;
    background-color: #000;
    color: #FFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    transition: all 0.3s ease;
  }
  
  .popup__submit:hover {
    opacity: 0.6;
    cursor: pointer;
  }
  
  .popup__submit:disabled {
    opacity: 0.2;
    color: #000;
    border: 1px solid #000;
    background-color: #fff;
  }

  @media screen and (max-width: 600px) {
    .popup__submit {
      max-width: 238px;
      height: 46px;
      font-size: 14px;
      line-height: 17px;
    }
  }